<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div style="background-color:rebeccapurple" class="heading">Instructions</div>
        <ol class="steps">
            <li>
                <p>Click on the map to set the start and end destination. The start is marked with an (S) on the map, while the destination is marked with a flag. The form on the left hand side will automatically fill when selecting the start and destination markers.</p>
            </li>
            <li>
                <p>Select your chosen path finding algorithm from the dropdown.</p>
            </li>
            <li>
                <p>Click Submit and you will be redirected to a page which shows:</p>
                <ul class="algorithm-features">
                    <li>Shortest Path Calculated Using the Algorithm</li>
                    <li>Visualizer for The Algorithm</li>
                    <li>Comparison of Path To Google Directions API Path</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="col-sm-2"></div>
</div> 
