{% extends 'base.html' %}
{% load jsonify %}

{% block extra_js %}
<script src="{% static 'js/gerji.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 text-right">
            <form>
                <button id="back" class="follow-button" formaction="{% url 'index' %}">Silver Spring Maryland USA</button>
            </form>
        </div>
        <div class="col-sm-6">
            <form>
                <button id="back" class="follow-button" formaction="{% url 'addismap' %}">Gerji Addis Ababa Ethiopia</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% include 'mapvis/includes/location_form.html' %}
        </div>
        <div class="col-sm-8">
            <div class="embed-responsive embed-responsive-16by9">
                <div id="map_canvas" class="embed-responsive-item"></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    
    {% include 'mapvis/includes/instructions.html' %}
</div>
{% endblock %}
