{% load jsonify %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"content="initial-scale=1.0, user-scalable=no"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key={{GMAPS_API_KEY}}&sensor=false">
        </script>
        <script>
            //console.log(shortestPath)
            //console.log(nodes)
        </script>
        <script src="{% static '/js/map.js' %}"></script>

    </head>
    <body style="background-color: black;">
        <header class="site-header">
            <div>
              <h1 style="font-weight: bold; color: whitesmoke;">Shortest Path Finder and Visualizer</h1>
            </div>  
          </header>

    <div class="container-fluid">
        
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-2">
                <div>
                    <form action="" method="POST" role="form" id="latlngform">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="start-latitude">Start Latitude</label>
                            <input step="any" class="form-control" name="start-latitude" id="start-latitude" placeholder="Latitude">
                        </div>
                        <div class="form-group">
                            <label for="start-longitude">Start Longitude</label>
                            <input step="any" class="form-control" name="start-longitude" id="start-longitude" placeholder="Longitude">
                        </div>
                        <div class="form-group">
                            <label for="destination-latitude">Target Latitude</label>
                            <input step="any" class="form-control" name="destination-latitude" id="destination-latitude" placeholder="Latitude">
                        </div>
                        <div class="form-group">
                            <label for="destination-longitude">Target Longitude</label>
                            <input step="any" class="form-control" name="destination-longitude" id="destination-longitude" placeholder="Longitude">
                        </div>
                        <div>
                            <label for="algorithm">Choose Algorithm: </label>
                                <select id="algorithm" name="search-algo">
                                    <option value="Dijkstra">Dijkstra</option>
                                    <option value="A-Star">A Star (A*)</option>
                                </select>
                        </div>
                        <div style="text-align: center;"><button type="submit" class="btn btn-default" style="margin-top: 10px; ;">Submit</button></div>
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 15px;">
                    <div id="map_canvas" class="embed-responsive-item"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2"></div>
        </div>
        {% if message != None %}
            <div style="font-weight: bold; margin-top: 10px;color:red;">{{message}}</div>
        {% endif %}
        </div>

        
      </div>
        
       
    </body>
</html>