{% load jsonify %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"content="initial-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key={{GMAPS_API_KEY}}&sensor=false">
        </script>
        <script>
            var COORDS = {{COORDS|safe}}


        </script>
        <script src="{% static '/js/map.js' %}"></script>

    </head>
    <body>
        <div id="map_canvas"></div>
    </body>
</html>