{% load jsonify %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"content="initial-scale=1.0, user-scalable=no"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/magic.min.css' %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key={{GMAPS_API_KEY}}&sensor=false">
        </script>
        <script src="https://kit.fontawesome.com/d1f3dd87b7.js" crossorigin="anonymous"></script>
        <script>
            var shortestPathCoords = {{SHORTEST_PATH_COORDS}}
            //console.log(shortestPath)
            //console.log(nodes)
        </script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <script src="{% static '/js/showpath.js' %}"></script>

    </head>

    <body style="background-color:black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <form>
                        <button id="back" style="margin-top: 20px;"class="follow-button" formaction="{% url 'index' %}">Back To Map</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h1 style="align-content: center;" id="heading">Shortest Path Found!</h1>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: -80px;">
                        <div id="map_canvas" class="embed-responsive-item"></div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>


        <div class="container" style="margin-top:50px">
            <h1 style="align-content: center;" id="heading">{{ALGORITHM}}</h1>
            <div id="visualizer">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown" id="algorithms">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Algorithms
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">A*</a>
                                <a class="dropdown-item" href="#">Dijkstra</a>
                                <a class="dropdown-item" href="#">Greedy Best-First Search</a>
                                <a class="dropdown-item" href="#">Breadth-First Search (BFS)</a>
                                <a class="dropdown-item" href="#">Depth-First Search (DFS)</a>
                                <a class="dropdown-item" href="#">Jump Point Search</a>
                            </div>
                            </li>
                            <li class="nav-item dropdown" id="mazes">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mazes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Random</a>
                                <a class="dropdown-item" href="#">Recursive Division</a>
                                <a class="dropdown-item" href="#">Recursive Division (Vertical Skew)</a>
                                <a class="dropdown-item" href="#">Recursive Division (Horizontal Skew)</a>
                                <a class="dropdown-item" href="#">Simple Spiral</a>
                            </div>
                        </li>
                            <li class="nav-item dropdown" id="speed">
                                <a class="nav-link dropdown-toggle speedDisplay" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Speed: Fast
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Slow</a>
                                <a class="dropdown-item" href="#">Normal</a>
                                <a class="dropdown-item" href="#">Fast</a>
                            </div>
                        </li>
                    </ul>

                        <button class="btn btn-outline-success btn-space" type="submit" id="startBtn">Start</button>
                        <button type="button" class="btn btn-outline-warning btn-space" type="submit" id="clearBtn">Clear Board</button>
                        <!-- <button type="button" class="btn btn-outline-danger disabled" type="submit" id="stopBtn">Stop</button> -->
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="key wall"></div>  
                    <div> Wall</div>
                </div>
                <div class="col-sm-2">
                    <div class="key start"></div>  
                    <div>Start</div>
                </div>
                <div class="col-sm-2">
                    <div class="key end"></div>  
                    <div>Target</div>
                </div>
                <div class="col-sm-2">
                    <div class="key searching"></div>  
                    <div class="key visited"></div>  
                    <div>Visited</div>
                </div>
                <div class="col-sm-2">
                    <div class="key success"></div>  
                    <div>Shortest-Path</div>
                </div>
                <div class="col-sm-2">
                    <div class="key"></div>  
                    <div>Unvisited</div>
                </div>
            </div>

        </div>

        <div class="d-flex flex-column align-items-center" id="bigTableContainer">
            <div id="tableContainer"></div>
            <!-- <div id="update">Click or drag cells to build walls. <br/>Press the 'Start' button when you finish and have selected an algorithm.</div> -->
        </div>

        <div class ="d-flex flex-column" id="results">
            <div class="d-flex justify-content-center"> 
                <i id="resultsIcon" class="fas fa-exclamation"></i>
            </div>
            <div id="duration" class="d-flex justify-content-center"> 
                Please select an algorithm and press start.
            </div>
            <div id="length" class="d-flex justify-content-center"> 	
            </div>	 	
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static '/js/visualizer.js' %}"></script>
    </body>
</html>
<!-------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------------------------------------------->


	
