button {
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 14px 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.25s;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
  }
  
button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
    transition: 0.25s;
    background-color:whitesmoke;
    color:black;
}

.start-button {
    background-color: tomato;
    color: white;
    font-size: 18px;
}

.key {
	border: 1px solid beige;
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.wall {
	transition : background-color 0.1s ease-in-out;
	background-color: whitesmoke;
	border-color: whitesmoke;
}

.visited {
	transition : background-color 0.08s ease-in-out;
	background-color: thistle;
	border-color: thistle;
}

.success {
	transition : background-color 0.08s ease-in-out;
	background-color: #ffee31;
	border-color: #ffee31;
}

.start {
	background-color: greenyellow;
	border-color: greenyellow;
}

.end {
	background-color:rebeccapurple;
	border-color: rebeccapurple;
}